.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 150px;
    z-index: -2;
  }

  .backG{
    margin-top: -150px;
    margin-left: -10px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -3;
    filter: blur(10px);
  }
/*Estilos para el header*/

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
    z-index: 3;
    margin: 0;
  }
  
  /* Estilos para el logo */
  .logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 50%;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .logo:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  /* Estilos para el título */
  .titleH {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  /* Estilos para la barra de búsqueda */
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-form input[type="text"] {
    border: none;
    outline: none;
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    width: 300px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .search-form input[type="text"]:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .search-form button {
    border: none;
    outline: none;
    background-color: #3897f0;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }


  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }